In [3]:
import sklearn
import numpy as np
import pandas as pd

In [5]:
epl_stats = pd.read_csv("epl_stats.csv")

In [7]:
epl_stats

,team,apps,wins,draws,losses,goals_for,goals_against,goal_diff,attendance
0,Liverpool,12,11,1,0,28,10,18,"52,988"
1,Leicester City,12,8,2,2,29,8,21,"32,040"
2,Chelsea,12,8,2,2,27,17,10,"40,591"
3,Manchester City,12,8,1,3,35,13,22,"54,338"
4,Sheffield United,12,4,5,3,13,9,4,"30,824"
5,Arsenal,12,4,5,3,16,17,-1,"60,322"
6,Manchester United,12,4,4,4,16,12,4,"73,543"
7,Wolverhampton Wanderers,12,3,7,2,16,15,1,"31,101"
8,Bournemouth,12,4,4,4,15,15,0,"10,614"
9,Burnley,12,4,3,5,17,18,-1,"20,523"
10,Brighton & Hove Albion,12,4,3,5,15,17,-2,"30,259"
11,Crystal Palace,12,4,3,5,10,16,-6,"25,326"
12,Newcastle United,12,4,3,5,11,18,-7,"46,125"
13,Tottenham Hotspur,12,3,5,4,18,17,1,"59,607"
14,Everton,12,4,2,6,13,18,-5,"39,256"
15,West Ham United,12,3,4,5,14,20,-6,"59,909"
16,Aston Villa,12,3,2,7,17,20,-3,"41,696"
17,Watford,12,1,5,6,8,23,-15,"20,714"
18,Southampton,12,2,2,8,11,29,-18,"30,395"